<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id='box'>
        <input @input="valueChange" v-model="value"/>
        <H1>查詢結果</H1>
        <ul>
            <li v-for="(data , index) in queryList">{{data}}</li>
        </ul>
    </div>
    <script type="text/javascript">
        
        let list = ["johnny" , "mary" , "howard" , "gordan" , "eric" , "bill" , "jenny"]
        var vm = new Vue({
            el:"#box",
            data:{
                value:'',
                queryList:list
            },
            methods:{
                valueChange(){
                   this.queryList = list.filter(ele=>ele.indexOf(this.value)!== -1) 
                }
            }
        })
    </script>
</body>
</html>